sudo: required
services:
    - docker

before_install:
    - docker build -t sysgala/react-test -f ./client/Dockerfile.dev ./client

script:
    - docker run sysgala/react-test npm test -- --coverage

after_success:
    - docker build -t sysgala/multi-client -f ./client/Dockerfile
    - docker build -t sysgala/multi-nginx -f ./nginx/Dockerfile
    - docker build -t sysgala/multi-server -f ./server/Dockerfile
    - docker build -t sysgala/multi-worker -f ./worker/Dockerfile
    # Log in to the docker CLI
    - echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_ID" --password-stdin
    # Take those images and push them to docker hub
    - docker push sysgala/multi-client
    - docker push sysgala/multi-nginx
    - docker push sysgala/multi-server
    - docker push sysgala/multi-worker